.header
  .userface
    %img{alt: "userface", src: "https://jornalzonasul.com.br/wp-content/uploads/2019/03/woman-3096664_1920-1-1024x797.jpg"}/
  %h3.username
    = current_user.name
    さんからの"ピアボーナス"