.navi
  .home
    = link_to "https://www.instagram.com/", class: "contents__btn" do
      = icon('fab', 'instagram fa-10x')
  .search
    = link_to "https://www.instagram.com/", class: "contents__btn" do
      = icon('fab', 'instagram fa-10x')