.navi
  .home
    = link_to root_path, class: "contents__btn--home" do
      %i.fas.fa-clinic-medical.fa-7x
  .search
    = link_to "https://www.instagram.com/", class: "contents__btn--search" do
      %i.fas.fa-search.fa-7x