.header {
  height: 200px;
  width: 100vw;
  background-color: rgb(245, 246, 245);
  display: flex;
  font-family: sans-serif;

  .userface {
    padding: 20px 0 0 20px;
    font-size: 50px;
    color: white;
    img {
      width: 200px;
    }
  }
  .username {
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
  }
}