.messages {
  height: 1500px;
  overflow: scroll;
  .message {
    background-color: white;
    height: calc(100vh - 1600px);
    width: 100vw;
    display: flex;
    border: solid 10px;
    border-color: pink;
    .takerface {
      img {
        width: 500px;
        margin: 40px;
      }
    }
    .contents {
      padding: 20px;
      .takername {
        font-weight: bold;
        font-size: x-large;
      }
      .letter {
        padding: 10px;
      }
      .credo {
        padding: 10px;
      }
      .like {
        padding: 10px;
        .like-btn {
          width: 25px;
          height: 30px;
          font-size: 25px;
          color: #808080; 
          margin-left: 20px;
        }
        .unlike-btn {
          width: 25px;
          height: 30px;
          font-size: 25px;
          color: #e54747;
          margin-left: 20px;
        }
      }
    }
    .message__date {
    }
    .more {
    }
  }
}