.messages {
  .message {
    background-color: rgb(235, 233, 233);
    height: calc(100vh - 400px);
    width: 100vw;
    display: flex;
    .takerface {
      img {
        width: 200px;
        margin: 30px;
      }
    }
  }
}