.messages {
  height: 1500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  .message {
    background-color: white;
    height: calc(min-100vh - 1700px);
    width: 95vw;
    display: flex;
    border: solid 10px;
    border-color: pink;
    align-items: center;
    .takerface {
      img {
        width: 400px;
        margin: 40px;
      }
    }
    .contents {
      padding: 20px;
      .takername {
        font-weight: bold;
        font-size: xx-large;
        span {
          font-size: x-large;
        }
      }
      .letter {
        font-size: x-large;
        padding: 5px;
      }
      .credo {
        font-size: large;
        padding: 5px;
        color: red;
      }
      .sub-contents {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .like {
          margin: 10px;
          width: 80px;
        }
        .like-btn {
          font-size: 40px;
          color: #808080;
        }
        .unlike-btn {
          font-size: 40px;
          color: #e54747;
        }
        .likescount {
          font-size: xx-large;
          float: right;
          color: #e54747;
        }
        .unlikescount {
          font-size: xx-large;
          float: right;
          color: #808080;
        }
        .message__date {
          color: gray;
        }
        .edit-btn {
          color: gray;
        }
        .delete-btn {
          color: gray;
        }
      }
    }
  }
}

form {
  margin-left: auto;
  width: 95%;
}

input[type="text"] {
  width: 400px;
  height: 40px;
  border-color: #e54747;
}

textarea {
  width: 600px;
  height: 100px;
  border-color: #e54747;
}

input[type="submit"] {
  width: 400px;
  height: 40px;
}