.navi {
  margin-top: 10px;
  height: 200px;
  width: 100vw;
  display: flex;
  border: 1px solid;
  border-color: rgb(226, 224, 224);

  .home {
    width: 50vw;
    padding: 40px;
    text-align: center;
    background-color: rgb(245, 246, 245);
  }

  .search {
    width: 50vw;
    padding: 40px;
    text-align: center;
    background-color: rgb(245, 246, 245);
  }

  .userinfo {
    width: 50vw;
    padding: 40px;
    text-align: center;
    background-color: rgb(245, 246, 245);
  }
}